extends ../layout.pug

block content
  h2 Sources
  .sources
    each source in sources
      .source
        img(src=source.iconUrl)
        h3= source.name
        .url
          a(href=source.url)= source.url
        .description
          = source.description
        dl
          dt Reliability:
          dd= source.reliability
          dt Bias
          dd= source.bias
          dt Alexa Rank:
          dd= source.alexaRank
          if source.customUrlPattern
            dt Custom Pattern:
            dd= source.customUrlPattern
        h4 Sections
        table
          tr
            th Name
            th URL
            th Category
          each section in source.sections
            tr
              td= section.name
              td= section.url
              td #{categories[section.categoryId]} (#{section.categoryId})
