extends ../layout.pug

block content
    each source in sources
      .source
        h2= source.name
        .url
          a(href=source.url)= source.url
        .description
          = source.description
        dl
          dt Reliability
          dd= source.reliability
          dt Bias
          dd= source.bias
          dt Alex Rank
          dd= source.alexaRank
        h3 Sections
        table
          tr
            th Name
            th URL
            th Category
          each section in source.sections
            tr
              td= section.name
              td= section.url
              td #{categories[section.category]} (#{section.category})
